<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
  	<!-- 扫描mapper（指定包下的所有mapper文件） -->
    <package name="com.atguigu.ws.mapper"/>
  </mappers>
</configuration>